<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Form</h1>
<form action="{% url 'posts:create' %}" method="POST">
    {{ form.as_p }}
    <input type="submit" name="" value="Create Post" id="">
    {% csrf_token %}
</form>

</body>
</html>